pipeline/Http to adls gen2 Using Parameterized and setvariable.json
{
	"name": "Http to adls gen2 Using Parameterized and setvariable",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_inputdatafromhttp",
						"type": "DatasetReference",
						"parameters": {
							"BaseURL": {
								"value": "@variables('SourceBaseURL')",
								"type": "Expression"
							},
							"RelativeURL": {
								"value": "@variables('SourceRelativeURL')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_outputhttp",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "SourceRelativeURL",
					"value": "sekharkoduru/https-github.com-suresh12345-AzureDataEngineering_Batch/blob/main/ecdc_data/hospital_admissions.csv"
				}
			}
		],
		"variables": {
			"SourceBaseURL": {
				"type": "String",
				"defaultValue": "https://github.com/"
			},
			"SourceRelativeURL": {
				"type": "String",
				"defaultValue": "sekharkoduru/https-github.com-suresh12345-AzureDataEngineering_Batch/blob/main/ecdc_data/testing.csv"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-05-17T15:54:30Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}